*.log*
*.zip
*.jar
*.litemod
*.points
*.lang
*.pak
*~
assets
compendiumunlocks
crash-reports
CustomDISkins
customnpcs
saves
stats
screenshots
world

client-build*
client-1.5
server-build*
test-client
bestseed
.minecraft
.java
