# Configuration file

####################
# arrowconfig
####################

arrowconfig {
    S:"CraftedStackSize Confusing Arrow"=4
    S:"CraftedStackSize Dirt Arrow"=4
    S:"CraftedStackSize Exploding Arrow"=4
    S:"CraftedStackSize Fire Arrow"=4
    S:"CraftedStackSize Frost Arrow"=4
    S:"CraftedStackSize Penetrating Arrow"=4
    S:"CraftedStackSize Redstonetorch Arrow"=4
    S:"CraftedStackSize Rope Arrow"=4
    S:"CraftedStackSize Seed Arrow"=4
    S:"CraftedStackSize Slime Arrow"=4
    S:"CraftedStackSize Torch Arrow"=4
    S:"CraftedStackSize Warp Arrow"=4
    S:"Damage Confusing Arrow"=4
    S:"Damage Dirt Arrow"=4
    S:"Damage Exploding Arrow"=4
    S:"Damage Fire Arrow"=4
    S:"Damage Frost Arrow"=4
    S:"Damage Penetrating Arrow"=4
    S:"Damage Redstonetorch Arrow"=4
    S:"Damage Rope Arrow"=4
    S:"Damage Seed Arrow"=4
    S:"Damage Slime Arrow"=4
    S:"Damage Torch Arrow"=4
    S:"Damage Warp Arrow"=4
}


####################
# "arrows enabled"
####################

""arrows enabled"" {
    B:"Confusing Arrow"=true
    B:"Dirt Arrow"=true
    B:"Exploding Arrow"=true
    B:"Fire Arrow"=true
    B:"Frost Arrow"=true
    B:"Penetrating Arrow"=true
    B:"Redstonetorch Arrow"=true
    B:"Rope Arrow"=true
    B:"Seed Arrow"=true
    B:"Slime Arrow"=true
    B:"Torch Arrow"=true
    B:"Warp Arrow"=true
}


####################
# block
####################

block {
    I:blockIdGrapplingHook=4080
    I:blockIdRope=4081
    I:blockIdRopeDJRoslin=4079
    I:blockIdZipLineAnchor=4078
}


####################
# general
####################

general {
    B:"Equipped Bow Tool Tip"=true
    I:"GUI String x coordinate, higher value means more to the right"=2
    I:"GUI String y coordinate, higher value means lower"=10
    B:disableBowHook=false
    I:"max HookShot Rope Length"=50
}


####################
# item
####################

item {
    I:itemIdArrowConfusion=31738
    I:itemIdArrowDirt=31737
    I:itemIdArrowExplosion=31736
    I:itemIdArrowFire=31735
    I:itemIdArrowGrass=31734
    I:itemIdArrowIce=31733
    I:itemIdArrowLaser=31732
    I:itemIdArrowRedstoneTorch=31727
    I:itemIdArrowRope=31731
    I:itemIdArrowSlime=31730
    I:itemIdArrowTorch=31729
    I:itemIdArrowWarp=31728
    I:itemIdGrapplingHook=31740
    I:itemIdHookShot=31726
    I:itemIdHookshotCartridge=31725
    I:itemIdRope=31741
    I:itemIdRopesPlusBow=31739
}


